## CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
Testing/

## Build output
build/

## IDE
.idea/
.vscode/
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/

## OS
**/.DS_Store

## Removed files stored locally
_bin/
